.App {
  text-align: center;
  margin: 0;
}

header {
    height: 500px;
    background-image: url("./collaboration_cropped.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.company-name {
    font-size: 50px;
    color: rgb(53, 35, 38);
    margin: auto;
    padding-top: 30px;
}

.search-bar {
    background-color: rgba(38, 27, 255, 0.89);
    height: 60px;
    text-align: center;
    display: flex;
    margin-bottom: 50px;
}

.search-button {
  height: 60px;
  color: white !important;
}

.search-icon {
  padding-left: 10px;
  padding-right: 20px;
}

.search-text {
  height: 50px;
  color: white;
}

.doc-lab {
    display: flex;
    padding: 20px 20px;

}

.doc-content {
    text-align: left;
    margin: 10px 10px;
    width: 700px;
}

.doc-analysis {
    margin: 10px 10px;
    text-align: left;
}

.content-title {
    border-bottom: 2px solid;
}

.analysis-title {
    border-bottom: 2px solid;
}

.doc-results-list {
    display: flex;
    flex-wrap: wrap;
}

.document-result {
    height: 500px;
    width: 400px;
    margin: 20px;
}

.user-results-list {
    display: flex;
    flex-wrap: wrap;
}

.user-result {
    height: 500px;
    width: 400px;
    margin: 20px;
}