.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  padding-bottom: 150px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: #61dafb;
}

.App-title {
  margin-bottom: 120px;
}