.App {
  text-align: center;
  margin: 0;
}

header {
    height: 120px;
    background-color: rgba(106, 106, 106, 0.89);
}

.company-name {
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin: auto;
    padding-top: 30px;
}

.search-bar {
    background-color: rgba(0, 0, 0, 0.89);
    height: 60px;
    text-align: center;
    display: flex;
    margin-bottom: 50px;
}

.search-button {
  height: 60px;
  color: white !important;
}

.search-icon {
  padding-left: 10px;
  padding-right: 20px;
}

.search-text {
  height: 50px;
  color: white;
}

.doc-lab {
    display: flex;
    padding: 20px 20px;

}

.doc-content {
    background-color: rgba(0, 0, 0, 0.04) !important;
    text-align: left;
    margin: 10px 10px;
    width: 700px;
}

.doc-analysis {
    background-color: rgba(0, 0, 0, 0.04) !important;
    margin: 10px 10px;
    text-align: left;
}

.content-title {
    border-bottom: 2px solid;
}

.analysis-title {
    border-bottom: 2px solid;
}

.document-result {
    background-color: rgba(0, 0, 0, 0.04) !important;
    display: flex;
    height: 500px;
    width: 1600px;
    margin: 40px;
}

.user-result {
    background-color: rgba(0, 0, 0, 0.04) !important;
    display: flex;
    height: 500px;
    width: 1600px;
    margin: 40px;
}

.user-result-left {
    width: 400px;
    margin-right: 50px;
    text-align: left;
}

.user-photo {
    margin-bottom: 20px;
}

.document-result-left {
    width: 800px;
    margin-right: 100px;
}

.right-pane-title {
    font-weight: 900 !important;
    margin-top: 20px !important;
}

.keyword-list {
    display: flex;
    flex-direction: column;
    float: left;
}